.alura{
    background-color: var(--alura-blue);
    color: var(--alura-light)
}

.alura:hover{
    background-color: var(--alura-blue-selected);
}

.alura-v2{
    background-color: var(--alura-light);
    color: var(--alura-blue);
    border: 1px solid var(--alura-blue);
}

.alura-v2:hover{
    background-color: var(--alura-light-selected);
}





.button{
    min-height: 50px;
    min-width: 190px;
    max-width: 80%;
    width: 80%;
    margin: 20px;
}

div.button-container{
    width: 80%;
    flex-wrap: wrap;
    
}

div.button-container-main{
    width: 80%;
    flex-direction: column;
    
}

@media (min-width:580px) {
    div.button-container{
        justify-content: space-between;
        
    }
    .button{
        min-width: 100px;
        max-width: 45%;
        width: 40%;
    }
}