.char{
    border-bottom: 2px solid var(--alura-blue);
    box-shadow: 0 4px 2px -2px var(--alura-light);
    width: 18%;
    outline: transparent;
    background-color: transparent;
}

.char:focus{
    border:none;
    outline:transparent;
}

.char-light{
    color: var(--alura-blue);
}

.char-dark{
    color: var(--alura-light);
}

#chars{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    height: 70px;
    
}