@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{box-sizing: border-box; font-family: Inter, Courier, Monospace, Arial;}

li{list-style: none;}

a, a:visited{text-decoration: none;}

button{border: none; border-radius: 12px;}

body{margin: 0;}