@import url(./reset.css);
@import url(./buttons.css);

:root{
    --alura-blue:#0A3871 ;
    --alura-blue-selected: #2A3AFF;
    --alura-light: #F3F5FC;
    --alura-light-selected: #a1a1ef;
    --alura-dark: #2f2f2f;
}

header{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
.body-light{
    background-color: var(--alura-light);
}

.body-dark{
    background-color: var(--alura-dark);
}

#wrapper{
    min-height: 100vh;
    height: 100px;

}


main{
    height: 100%;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.flex-b{
    justify-content: space-between;
}

.bulb{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(87deg) brightness(119%) contrast(119%);
} 

.header-dark{
    background-color: #5f5f5f;
}