.textarea{
    resize: none;
    width: 80%;
    min-width: 190px;
    height: 40vh;
    background-color: transparent;
    outline: transparent;
    border: none;
    border-radius: 20px;
    font-size: larger;
    margin: 20px;

}

.textarea-light::placeholder{
    content: "Ingrese texto aqui";
    color: var(--alura-blue);
    font-size: larger;
}

.textarea-dark::placeholder{
    content: "Ingrese texto aqui";
    color: var(--alura-light);
    font-size: larger;
}

.textarea-light{
    color: var(--alura-blue);
}

.textarea-dark{
    color: var(--alura-light);
}